@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.alert-auto-fade {
  animation: fadeOut 5s ease forwards;
}

#delimiter {
    min-height: 200px;
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: green;
  color: white;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}